<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&amp;display=swap" rel="stylesheet">
  <title>Poker</title>
</head>

<body>
  <div class="container">
    <h1>Poker</h1>
    <div class="mao1">
      <h2>Mão 1</h2>
      <input type="text" name="cards1" maxlength="3" required>
      <input type="text" name="cards1" maxlength="3" required>
      <input type="text" name="cards1" maxlength="3" required>
      <input type="text" name="cards1" maxlength="3" required>
      <input type="text" name="cards1" maxlength="3" required>
    </div>
    <div class="mao2">
      <h2>Mão 2</h2>
      <input type="text" name="cards2" maxlength="3" required>
      <input type="text" name="cards2" maxlength="3" required>
      <input type="text" name="cards2" maxlength="3" required>
      <input type="text" name="cards2" maxlength="3" required>
      <input type="text" name="cards2" maxlength="3" required>
    </div>
    <button id="button">Verificar vencedor!</button>
    <div class="response">
      <span id="feedback"></span>
    </div>
  </div>
  <script src="./assets/javascript/main.js"></script>
</body>

</html>